%html5
  %body
    %h1 AwesomeAPI Reference
    %div
      %strong GET /ip
      %p Returns the IP address of the client
    %div
      %strong GET /qr/<data>
      %p Displays a QR code representing <data>
    %div
      %strong GET /md5/<data>
      %p Displays the MD5 hash of <data>
    %div
      %strong GET /sha1/<data>
      %p Displays the SHA1 hash of <data>
    %div
      %strong GET /sha256/<data>
      %p Displays the SHA256 hash of <data>
    %div
      %strong GET /sha512/<data>
      %p Displays the SHA512 hash of <data>
