%html5
  %body
    %h1 AwesomeAPI Reference
    %div
      %strong GET /ip
      %p Returns the IP address of the client
    %div
      %strong GET /qr/<data>
      %p Displays a QR code representing <data>

